<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>IMG_CMN_BFRAME_000_BATCHBAR_00.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 41}</string>
			<key>spriteSourceSize</key>
			<string>{43, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 264}, {43, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_BATCHBAR_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 41}</string>
			<key>spriteSourceSize</key>
			<string>{43, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 216}, {43, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_CHECKBOX_BACK.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{68, 152}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_CHECKBOX_CHECK.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 156}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SLIDE_BAR.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 30}</string>
			<key>spriteSourceSize</key>
			<string>{58, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{184, 156}, {58, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SLIDE_BTN.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 152}, {56, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SLIDE_MASK.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 30}</string>
			<key>spriteSourceSize</key>
			<string>{58, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{184, 196}, {58, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SWITCH_BACK.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{240, 68}</string>
			<key>spriteSourceSize</key>
			<string>{240, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 4}, {240, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SWITCH_BTN.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 67}</string>
			<key>spriteSourceSize</key>
			<string>{66, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 80}, {66, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SWITCH_MASK.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 62}</string>
			<key>spriteSourceSize</key>
			<string>{152, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 80}, {152, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_TEXT_BAR.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 62}</string>
			<key>spriteSourceSize</key>
			<string>{37, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{68, 208}, {37, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
