<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>IMG_CMN_BFRAME_000_BATCHBAR_00.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21.5, 20.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21.5, 20.5}</string>
			<key>spriteSourceSize</key>
			<string>{21.5, 20.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 84}, {21.5, 20.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_BATCHBAR_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21.5, 20.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21.5, 20.5}</string>
			<key>spriteSourceSize</key>
			<string>{21.5, 20.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 108}, {21.5, 20.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_CHECKBOX_BACK.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 25}</string>
			<key>spriteSourceSize</key>
			<string>{25, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 70}, {25, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_CHECKBOX_CHECK.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 25}</string>
			<key>spriteSourceSize</key>
			<string>{25, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 82}, {25, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_COMBO_BACK.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 2}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_COMBO_CURSOR.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 10}</string>
			<key>spriteSourceSize</key>
			<string>{40, 10}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{36, 120}, {40, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_COMBO_FRAME.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 38}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SLIDE_BAR.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 15}</string>
			<key>spriteSourceSize</key>
			<string>{29, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 98}, {29, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SLIDE_BTN.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{28, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 38}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SLIDE_MASK.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 15}</string>
			<key>spriteSourceSize</key>
			<string>{29, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 118}, {29, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SWITCH_BTN.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 33.5}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{78, 46}, {33, 33.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_SWITCH_MASK.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 31}</string>
			<key>spriteSourceSize</key>
			<string>{76, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {76, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>IMG_CMN_BFRAME_000_TEXT_BAR.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18.5, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18.5, 31}</string>
			<key>spriteSourceSize</key>
			<string>{18.5, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{76, 84}, {18.5, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
