<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>IMG_CMN_BFRAME_001_BACK.png</key>
		<dict>
			<key>frame</key>
			<string>{{18, 0}, {1, 23}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{18, 0}, {1, 23}}</string>
			<key>sourceSize</key>
			<string>{1, 23}</string>
		</dict>
		<key>IMG_CMN_BFRAME_001_BAR_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 20}, {4, 1}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 20}, {4, 1}}</string>
			<key>sourceSize</key>
			<string>{4, 1}</string>
		</dict>
		<key>IMG_CMN_BFRAME_001_BAR_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{10, 0}, {4, 14}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{10, 0}, {4, 14}}</string>
			<key>sourceSize</key>
			<string>{4, 14}</string>
		</dict>
		<key>IMG_CMN_BFRAME_001_BAR_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {4, 15}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {4, 15}}</string>
			<key>sourceSize</key>
			<string>{4, 15}</string>
		</dict>
		<key>IMG_CMN_BFRAME_001_EDGE.png</key>
		<dict>
			<key>frame</key>
			<string>{{10, 20}, {4, 4}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{10, 20}, {4, 4}}</string>
			<key>sourceSize</key>
			<string>{4, 4}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{20, 24}</string>
	</dict>
</dict>
</plist>
