<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>IMG_CMN_BFRAME_000_BACK.png</key>
		<dict>
			<key>frame</key>
			<string>{{228, 74}, {1, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{228, 74}, {1, 46}}</string>
			<key>sourceSize</key>
			<string>{1, 46}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_BAR_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 188}, {8, 8}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{104, 188}, {8, 8}}</string>
			<key>sourceSize</key>
			<string>{8, 8}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_BAR_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{142, 166}, {8, 28}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{142, 166}, {8, 28}}</string>
			<key>sourceSize</key>
			<string>{8, 28}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_BAR_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{128, 166}, {8, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{128, 166}, {8, 30}}</string>
			<key>sourceSize</key>
			<string>{8, 30}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_EDGE.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 140}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{104, 140}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_SLIDE_BAR.png</key>
		<dict>
			<key>frame</key>
			<string>{{128, 140}, {20, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{128, 140}, {20, 18}}</string>
			<key>sourceSize</key>
			<string>{20, 18}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_SLIDE_BTN.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 140}, {56, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 140}, {56, 56}}</string>
			<key>sourceSize</key>
			<string>{56, 56}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_SLIDE_MASK.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 166}, {20, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{104, 166}, {20, 18}}</string>
			<key>sourceSize</key>
			<string>{20, 18}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_SWITCH_BACK.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {240, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {240, 68}}</string>
			<key>sourceSize</key>
			<string>{240, 68}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_SWITCH_BTN.png</key>
		<dict>
			<key>frame</key>
			<string>{{158, 74}, {66, 67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{158, 74}, {66, 67}}</string>
			<key>sourceSize</key>
			<string>{66, 67}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_SWITCH_MASK.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 74}, {152, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 74}, {152, 62}}</string>
			<key>sourceSize</key>
			<string>{152, 62}</string>
		</dict>
		<key>IMG_CMN_BFRAME_000_TEXT_BAR.png</key>
		<dict>
			<key>frame</key>
			<string>{{62, 140}, {37, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{62, 140}, {37, 62}}</string>
			<key>sourceSize</key>
			<string>{37, 62}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{240, 204}</string>
	</dict>
</dict>
</plist>
