<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This is a template description.</string>
	<key>Identifier</key>
	<string>com.cocos2d-v2.cmmsimpleframeworklib</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>libs/CMMSimpleFramework/CMMCaremaManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMCaremaManager.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMCaremaManager.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMCaremaManager.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMConfig.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMConfig.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMConnectionMonitor.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMConnectionMonitor.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMConnectionMonitor.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMConnectionMonitor.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMControlItem.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMControlItem.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMControlItem.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMControlItem.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMControlItemSlider.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMControlItemSlider.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMControlItemSlider.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMControlItemSlider.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMControlItemSwitch.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMControlItemSwitch.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMControlItemSwitch.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMControlItemSwitch.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMControlItemText.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMControlItemText.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMControlItemText.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMControlItemText.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMCustomUI.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMCustomUI.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMCustomUI.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMCustomUI.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMCustomUIJoypad.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMCustomUIJoypad.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMCustomUIJoypad.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMCustomUIJoypad.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMDeprecated.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMDeprecated.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMDeprecated.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMDeprecated.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMDrawingManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMDrawingManager.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMDrawingManager.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMDrawingManager.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMDrawingUtil.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMDrawingUtil.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMDrawingUtil.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMDrawingUtil.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMEncryptionUtil.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMEncryptionUtil.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMEncryptionUtil.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMEncryptionUtil.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMFileUtil.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMFileUtil.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMFileUtil.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMFileUtil.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMFontUtil.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMFontUtil.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMFontUtil.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMFontUtil.m</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMGameKit.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMGameKit.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMGameKit.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMGameKit.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMGLView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMGLView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMGLView.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMGLView.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMHeader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMHeader.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMInAppPurchasesManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMInAppPurchasesManager.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMInAppPurchasesManager.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMInAppPurchasesManager.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMLayer.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMLayer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMLayer.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMLayer.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMLayerM.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMLayerM.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMLayerM.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMLayerM.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMLayerMD.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMLayerMD.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMLayerMD.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMLayerMD.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMLayerPinchZoom.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMLayerPinchZoom.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMLayerPinchZoom.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMLayerPinchZoom.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSequencer.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSequencer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSequencer.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSequencer.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMMacro.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMMacro.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMMenuItem.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMMenuItem.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMMenuItem.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMMenuItem.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMMenuItemSet.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMMenuItemSet.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMMenuItemSet.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMMenuItemSet.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMMotionDispatcher.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMMotionDispatcher.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMMotionDispatcher.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMMotionDispatcher.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMNoticeDispatcher.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMNoticeDispatcher.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMNoticeDispatcher.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMNoticeDispatcher.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMPacket.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMPacket.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMPacket.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMPacket.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMPacketData.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMPacketData.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMPacketData.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMPacketData.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMPacketDataHandler.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMPacketDataHandler.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMPacketDataHandler.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMPacketDataHandler.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMPopupView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMPopupView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMPopupView.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMPopupView.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMScene.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMScene.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMScene.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMScene.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMScrollMenu.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMScrollMenu.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMScrollMenu.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMScrollMenu.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMScrollMenuH.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMScrollMenuH.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMScrollMenuH.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMScrollMenuH.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMScrollMenuV.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMScrollMenuV.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMScrollMenuV.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMScrollMenuV.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSimpleCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSimpleCache.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSimpleCache.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSimpleCache.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSObject.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSObject.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSObject.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSObject.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSObject_Test.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSObject_Test.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSObject_Test.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSObject_Test.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSObjectSView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSObjectSView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSObjectSView.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSObjectSView.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSoundEngine.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSoundEngine.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSoundEngine.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSoundEngine.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSParticle.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSParticle.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSParticle.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSParticle.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSPMapObject.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSPMapObject.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSPMapObject.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSPMapObject.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSprite.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSprite.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSprite.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSprite.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSpriteBatchBar.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSpriteBatchBar.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSpriteBatchBar.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSpriteBatchBar.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSSpec.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSSpec.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSSpec.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSSpec.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSSpecObject.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSSpecObject.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSSpecObject.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSSpecObject.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSSpecStage.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSSpecStage.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSSpecStage.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSSpecStage.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSStateObject.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSStateObject.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSStateObject.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSStateObject.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMStage.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMStage.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMStage.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMStage.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMStagePXL.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMStagePXL.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMStagePXL.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMStagePXL.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMStageTMX.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMStageTMX.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMStageTMX.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMStageTMX.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMStageDNB.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMStageDNB.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMStageDNB.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMStageDNB.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMStringUtil.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMStringUtil.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMStringUtil.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMStringUtil.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSType.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSType.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSocketHandler.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSocketHandler.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMSocketHandler.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMSocketHandler.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMType.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMType.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMTouchDispatcher.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMTouchDispatcher.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMTouchDispatcher.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMTouchDispatcher.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMTouchUtil.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMTouchUtil.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMTouchUtil.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMTouchUtil.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMTimeIntervalArray.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMTimeIntervalArray.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMTimeIntervalArray.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMTimeIntervalArray.mm</string>
		</dict>
		<key>libs/CMMSimpleFramework/CMMViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMViewController.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CMMSimpleFramework/CMMViewController.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>CMMSimpleFramework</string>
			</array>
			<key>Path</key>
			<string>libs/CMMSimpleFramework/CMMViewController.mm</string>
		</dict>
		<key>libs/CCMutableTexture2D.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
			<key>Path</key>
			<string>libs/CCMutableTexture2D.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CCMutableTexture2D.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
			<key>Path</key>
			<string>libs/CCMutableTexture2D.m</string>
		</dict>
		<key>libs/CCSpriteBatchNode+SplitSprite.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
			<key>Path</key>
			<string>libs/CCSpriteBatchNode+SplitSprite.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/CCSpriteBatchNode+SplitSprite.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
			<key>Path</key>
			<string>libs/CCSpriteBatchNode+SplitSprite.m</string>
		</dict>
		<key>libs/NSData+Base64.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
			<key>Path</key>
			<string>libs/NSData+Base64.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/NSData+Base64.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
			<key>Path</key>
			<string>libs/NSData+Base64.m</string>
		</dict>
		<key>libs/NSData+Compression.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
			<key>Path</key>
			<string>libs/NSData+Compression.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/NSData+Compression.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
			<key>Path</key>
			<string>libs/NSData+Compression.m</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>libs/CMMSimpleFramework/CMMCaremaManager.h</string>
		<string>libs/CMMSimpleFramework/CMMCaremaManager.mm</string>
		<string>libs/CMMSimpleFramework/CMMConfig.h</string>
		<string>libs/CMMSimpleFramework/CMMConnectionMonitor.h</string>
		<string>libs/CMMSimpleFramework/CMMConnectionMonitor.mm</string>
		<string>libs/CMMSimpleFramework/CMMControlItem.h</string>
		<string>libs/CMMSimpleFramework/CMMControlItem.mm</string>
		<string>libs/CMMSimpleFramework/CMMControlItemSlider.h</string>
		<string>libs/CMMSimpleFramework/CMMControlItemSlider.mm</string>
		<string>libs/CMMSimpleFramework/CMMControlItemSwitch.h</string>
		<string>libs/CMMSimpleFramework/CMMControlItemSwitch.mm</string>
		<string>libs/CMMSimpleFramework/CMMControlItemText.h</string>
		<string>libs/CMMSimpleFramework/CMMControlItemText.mm</string>
		<string>libs/CMMSimpleFramework/CMMCustomUI.h</string>
		<string>libs/CMMSimpleFramework/CMMCustomUI.mm</string>
		<string>libs/CMMSimpleFramework/CMMCustomUIJoypad.h</string>
		<string>libs/CMMSimpleFramework/CMMCustomUIJoypad.mm</string>
		<string>libs/CMMSimpleFramework/CMMDeprecated.h</string>
		<string>libs/CMMSimpleFramework/CMMDeprecated.mm</string>
		<string>libs/CMMSimpleFramework/CMMDrawingManager.h</string>
		<string>libs/CMMSimpleFramework/CMMDrawingManager.mm</string>
		<string>libs/CMMSimpleFramework/CMMDrawingUtil.h</string>
		<string>libs/CMMSimpleFramework/CMMDrawingUtil.mm</string>
		<string>libs/CMMSimpleFramework/CMMEncryptionUtil.h</string>
		<string>libs/CMMSimpleFramework/CMMEncryptionUtil.mm</string>
		<string>libs/CMMSimpleFramework/CMMFileUtil.h</string>
		<string>libs/CMMSimpleFramework/CMMFileUtil.mm</string>
		<string>libs/CMMSimpleFramework/CMMFontUtil.h</string>
		<string>libs/CMMSimpleFramework/CMMFontUtil.m</string>
		<string>libs/CMMSimpleFramework/CMMSequencer.h</string>
		<string>libs/CMMSimpleFramework/CMMSequencer.mm</string>
		<string>libs/CMMSimpleFramework/CMMGameKit.h</string>
		<string>libs/CMMSimpleFramework/CMMGameKit.mm</string>
		<string>libs/CMMSimpleFramework/CMMGLView.h</string>
		<string>libs/CMMSimpleFramework/CMMGLView.mm</string>
		<string>libs/CMMSimpleFramework/CMMHeader.h</string>
		<string>libs/CMMSimpleFramework/CMMInAppPurchasesManager.h</string>
		<string>libs/CMMSimpleFramework/CMMInAppPurchasesManager.mm</string>
		<string>libs/CMMSimpleFramework/CMMLayer.h</string>
		<string>libs/CMMSimpleFramework/CMMLayer.mm</string>
		<string>libs/CMMSimpleFramework/CMMLayerM.h</string>
		<string>libs/CMMSimpleFramework/CMMLayerM.mm</string>
		<string>libs/CMMSimpleFramework/CMMLayerMD.h</string>
		<string>libs/CMMSimpleFramework/CMMLayerMD.mm</string>
		<string>libs/CMMSimpleFramework/CMMLayerPinchZoom.h</string>
		<string>libs/CMMSimpleFramework/CMMLayerPinchZoom.mm</string>
		<string>libs/CMMSimpleFramework/CMMMacro.h</string>
		<string>libs/CMMSimpleFramework/CMMMenuItem.h</string>
		<string>libs/CMMSimpleFramework/CMMMenuItem.mm</string>
		<string>libs/CMMSimpleFramework/CMMMenuItemSet.h</string>
		<string>libs/CMMSimpleFramework/CMMMenuItemSet.mm</string>
		<string>libs/CMMSimpleFramework/CMMMotionDispatcher.h</string>
		<string>libs/CMMSimpleFramework/CMMMotionDispatcher.mm</string>
		<string>libs/CMMSimpleFramework/CMMNoticeDispatcher.h</string>
		<string>libs/CMMSimpleFramework/CMMNoticeDispatcher.mm</string>
		<string>libs/CMMSimpleFramework/CMMPacket.h</string>
		<string>libs/CMMSimpleFramework/CMMPacket.mm</string>
		<string>libs/CMMSimpleFramework/CMMPacketData.h</string>
		<string>libs/CMMSimpleFramework/CMMPacketData.mm</string>
		<string>libs/CMMSimpleFramework/CMMPacketDataHandler.h</string>
		<string>libs/CMMSimpleFramework/CMMPacketDataHandler.mm</string>
		<string>libs/CMMSimpleFramework/CMMPopupView.h</string>
		<string>libs/CMMSimpleFramework/CMMPopupView.mm</string>
		<string>libs/CMMSimpleFramework/CMMScene.h</string>
		<string>libs/CMMSimpleFramework/CMMScene.mm</string>
		<string>libs/CMMSimpleFramework/CMMScrollMenu.h</string>
		<string>libs/CMMSimpleFramework/CMMScrollMenu.mm</string>
		<string>libs/CMMSimpleFramework/CMMScrollMenuH.h</string>
		<string>libs/CMMSimpleFramework/CMMScrollMenuH.mm</string>
		<string>libs/CMMSimpleFramework/CMMScrollMenuV.h</string>
		<string>libs/CMMSimpleFramework/CMMScrollMenuV.mm</string>
		<string>libs/CMMSimpleFramework/CMMSimpleCache.h</string>
		<string>libs/CMMSimpleFramework/CMMSimpleCache.mm</string>
		<string>libs/CMMSimpleFramework/CMMSObject.h</string>
		<string>libs/CMMSimpleFramework/CMMSObject.mm</string>
		<string>libs/CMMSimpleFramework/CMMSObject_Test.h</string>
		<string>libs/CMMSimpleFramework/CMMSObject_Test.mm</string>
		<string>libs/CMMSimpleFramework/CMMSObjectSView.h</string>
		<string>libs/CMMSimpleFramework/CMMSObjectSView.mm</string>
		<string>libs/CMMSimpleFramework/CMMSoundEngine.h</string>
		<string>libs/CMMSimpleFramework/CMMSoundEngine.mm</string>
		<string>libs/CMMSimpleFramework/CMMSParticle.h</string>
		<string>libs/CMMSimpleFramework/CMMSParticle.mm</string>
		<string>libs/CMMSimpleFramework/CMMSPMapObject.h</string>
		<string>libs/CMMSimpleFramework/CMMSPMapObject.mm</string>
		<string>libs/CMMSimpleFramework/CMMSprite.h</string>
		<string>libs/CMMSimpleFramework/CMMSprite.mm</string>
		<string>libs/CMMSimpleFramework/CMMSpriteBatchBar.h</string>
		<string>libs/CMMSimpleFramework/CMMSpriteBatchBar.mm</string>
		<string>libs/CMMSimpleFramework/CMMSSpec.h</string>
		<string>libs/CMMSimpleFramework/CMMSSpec.mm</string>
		<string>libs/CMMSimpleFramework/CMMSSpecObject.h</string>
		<string>libs/CMMSimpleFramework/CMMSSpecObject.mm</string>
		<string>libs/CMMSimpleFramework/CMMSSpecStage.h</string>
		<string>libs/CMMSimpleFramework/CMMSSpecStage.mm</string>
		<string>libs/CMMSimpleFramework/CMMSStateObject.h</string>
		<string>libs/CMMSimpleFramework/CMMSStateObject.mm</string>
		<string>libs/CMMSimpleFramework/CMMStage.h</string>
		<string>libs/CMMSimpleFramework/CMMStage.mm</string>
		<string>libs/CMMSimpleFramework/CMMStagePXL.h</string>
		<string>libs/CMMSimpleFramework/CMMStagePXL.mm</string>
		<string>libs/CMMSimpleFramework/CMMStageTMX.h</string>
		<string>libs/CMMSimpleFramework/CMMStageTMX.mm</string>
		<string>libs/CMMSimpleFramework/CMMStageDNB.h</string>
		<string>libs/CMMSimpleFramework/CMMStageDNB.mm</string>
		<string>libs/CMMSimpleFramework/CMMStringUtil.h</string>
		<string>libs/CMMSimpleFramework/CMMStringUtil.mm</string>
		<string>libs/CMMSimpleFramework/CMMSType.h</string>
		<string>libs/CMMSimpleFramework/CMMSocketHandler.h</string>
		<string>libs/CMMSimpleFramework/CMMSocketHandler.mm</string>
		<string>libs/CMMSimpleFramework/CMMType.h</string>
		<string>libs/CMMSimpleFramework/CMMTouchDispatcher.h</string>
		<string>libs/CMMSimpleFramework/CMMTouchDispatcher.mm</string>
		<string>libs/CMMSimpleFramework/CMMTouchUtil.h</string>
		<string>libs/CMMSimpleFramework/CMMTouchUtil.mm</string>
		<string>libs/CMMSimpleFramework/CMMTimeIntervalArray.h</string>
		<string>libs/CMMSimpleFramework/CMMTimeIntervalArray.mm</string>
		<string>libs/CMMSimpleFramework/CMMViewController.h</string>
		<string>libs/CMMSimpleFramework/CMMViewController.mm</string>
		<string>libs/CCMutableTexture2D.h</string>
		<string>libs/CCMutableTexture2D.m</string>
		<string>libs/CCSpriteBatchNode+SplitSprite.h</string>
		<string>libs/CCSpriteBatchNode+SplitSprite.m</string>
		<string>libs/NSData+Base64.h</string>
		<string>libs/NSData+Base64.m</string>
		<string>libs/NSData+Compression.h</string>
		<string>libs/NSData+Compression.m</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>SystemConfiguration</string>
				<string>CoreMotion</string>
				<string>StoreKit</string>
				<string>CFNetwork</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
